<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <h2>Вход в систему</h2>

        <div th:if="${param.error}" style="color: red;">
            <span th:switch="${param.error[0]}">
                <span th:case="'server_down'">К сожалению, база данных временно недоступна. Попробуйте позже.</span>
                <span th:case="'bad_credentials'">Неверный email или пароль.</span>
                <span th:case="*">Произошла ошибка при входе.</span>
            </span>
        </div>

        <form th:action="@{/login}" method="POST">
            <input type="email"
                   name="username"
                   placeholder="Эл. почта"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Пароль"
                   required>

            <button type="submit">Войти</button>
        </form>
        <script>
        function getQueryParam(param) {
            let urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        let email = getQueryParam('email');
        let password = getQueryParam('password');

        if (email) {
            document.querySelector('input[name="username"]').value = decodeURIComponent(email);
        }
        if (password) {
            document.querySelector('input[name="password"]').value = decodeURIComponent(password);
        }
        </script>
    </body>
</html>
